/*
*= require_tree .
*/

@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif;
}

section {
  height: 100vh;
  padding: 10vh;
  border: 1px solid #fff;
}

.invisible {
  display: none;
}

#main {
  #landing{
    padding-top: 100px;

  }

  #curriculum {
    .subject {
      display: inline-block;
      background-color: #444;
      min-width: 200px;
      // max-width: 300px;
      min-height: 400px;
      padding: 1em;
      border-radius: 1em;
    }
  }
  #students{
    .student {
      display: inline-block;
      width: 150px;
      height: 150px;
      background-color: #444;
      padding: .5em;
      margin: .2em;
    }
    .verbose {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}

#verbose-show {
  height: 100vh;
  width: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-animation: slice 200ms ease both;
  animation: slice 200ms ease both;
}


