/*
*= require_tree .
*/

@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.invisible {
  display: none;
}

#main {
  padding-top: 100px
}

.subject {
  display: inline-block;
}

.student {
  display: inline-block;
}