%nav
  %h3 WDI-5 SYDNEY
  %img{:src => "images/GA_LOGO.png", :alt => "General Assembly"}/
  %ul
    %li= link_to('top', '#')
    %li= link_to('overview', '#overview')
    %li= link_to('curriculum', '#curriculum')
    %li= link_to('students', '#students')