%nav
  %h3 WDI-5 SYDNEY
  %img{:src => "images/GA_LOGO.jpg", :alt => "General Assembly"}/
  %ul
    %li= link_to('here', '/hallo.html')
    %li= link_to('there', '#')
    %li= link_to('everywhere', '#')